@using Gs1DigitalLink.Api.Contracts
@using Microsoft.Extensions.Localization
@using System.Globalization
@{
    Layout = "_Layout";
    ViewData["Title"] = Localizer["Linkset"];
}
@model Linkset
@inject IStringLocalizer<Linkset> Localizer

@if(Model.Links.Any())
{
    <h2>@Localizer["Linkset for this resource"]</h2>

    <ul>
        @foreach(var link in Model.Links)
        {
            <li>
                <a href="@link.RedirectUrl">@link.Title</a> 
                @if(!string.IsNullOrEmpty(link.Language))
                {
                    <span class="tag language">@GetCountryName(link.Language)</span>
                }
                @foreach(var linkType in link.LinkTypes)
                {
                    var type = linkType.StartsWith("gs1:defaultLink", StringComparison.OrdinalIgnoreCase) ? "defaultLink" : "linkType";

                    <span class="tag @type">@Localizer[linkType]</span>
                }
            </li>
        }
    </ul>
}
else
{
    <h2>@Localizer["No links configured for this resource"]</h2>
}

@{
    string GetCountryName(string language)
    {
        var culture = CultureInfo.GetCultureInfoByIetfLanguageTag(language);
        
        return culture.DisplayName;
    }
}